<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gordon.ilms" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.CourseActivity"
            android:label="@string/title_activity_course" >
        </activity>
        <activity
            android:name=".app.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".app.AnnouncementDetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".app.MaterialDetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".app.HomeworkDetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".app.ForumActivity"
            android:label="@string/title_activity_forum" >
        </activity>
        <activity
            android:name=".app.PostDetailActivity"
            android:label="@string/title_activity_post_detail" >
        </activity>
        <activity
            android:name=".app.ActivityDispatcher">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:host="lms.nthu.edu.tw" />
            </intent-filter>
        </activity>
    </application>

</manifest>
